.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}
.member {
    display: flex;
    box-sizing: border-box;
    flex-direction: column; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-content: space-around;


}
.member img {
    border-radius: 50%;
    width: 23%;
    height: 23%;
    align-content: space-around;
    justify-content: space-around;
}
.member h2 {
    margin: 0;
    padding: 0;
}
