body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.member {
    display: flex;
    box-sizing: border-box;
    flex-direction: column; 
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
}

.member img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: bold;
}